[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipywidgets = ">=7.5.0"
jupyter-bokeh = "*"
jupyterlab = "~=3.2.0"
jupyterlab-git = "*"
jupyterlab-s3-browser = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
